{% extends "structure.html" %}
{% block main_container %}
<main class="login-main">
    <section>
    </section>
    <article class="">
      <form class="" action="/register" method="POST">
        <label for=""><h2>{{ message }}</h2></label>
        <label for=""><h3>Register here</h3></label>
        <input type="text" name="username" value="" placeholder="username" required>
        <input type="text" name="fname" value="" placeholder="First Name" required>
        <input type="text" name="lname" value="" placeholder="Last Name" required>
        <input type="email" name="email" value="" placeholder="email" required>
        <select class="selects" name="gender" required>
          <option value="" selected>Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Prefer not to say</option>
        </select>
        <!-- <input type="date" name="" value="" min="2022-01-01" max="2025-12-31" required> -->
        <input type="password" name="pword" value="" placeholder="password" required>
        <input type="password" name="" value="" placeholder="confirm password">
        <button type="submit" class="btn" name="button">Register</button>
      </form>
      <p>Already have an account? <a href="/login">Login</a></p>
    </article>
  </main>
{% endblock main_container %}

{% block main %}
    {{ super() }}
{% endblock main %}